body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #71dfe3;
  }
  h1{
   margin-bottom: 40%;
   position: absolute;
   text-align: center;
   padding: 10px;
   color: #f4f4f4;
   background-color: rgb(33, 54, 53);
   width: 100%;
   
  }
  .container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  #email,#fullName{
   margin-left: 8px;
   padding: 5px;
  }
  #skill{
   padding: 5px;
    margin-left: 25px;
  }
  #gender{
    background-color: #b2bdd4;
    margin-left: 8px;
    padding: 3px;
  }
  
  #submitBtn{
    border-radius: 5px;
    background-color: rgb(57, 96, 186);
    border: solid 1px;
    color: #f4f4f4;
    padding: 5px;
  }
  #displayData{
    margin-left: 20px;
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  #dataList,li{
    margin-bottom: 10px;
  }